body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    font-family: 'Alkalami', serif;
}

img{
    padding: 1px;
}

img:hover {
    background-color: black;
}

/* LEFT */
.leftContainer {
    flex-direction: column;
    background-color: #B1B2FF;
    width: 70%;
}

.gameTitle {
    height: 10%;
    background-color: #EEF1FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gameContent {
    color: #EEF1FF;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endGame {
    display: none;
}

.newGameBtn {
    background-color: #AAC4FF;
    font-family: 'Alkalami', serif;
    font-size: 30px;
    padding-top: 15px;
    border-radius: 10px;
}

.rock,
.paper,
.scissors {
    width: 150px;
    height: 150px;
}

.btnR {
    background-color: #AAC4FF;
    font-family: 'Alkalami', serif;
    padding-top: 6px;
    border-radius: 10px;
    display: none;
}

.copyright {
    margin: 0;
    padding: 0;
}

/* RIGHT */
.rightContainer {
    background-color: #EEF1FF;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.rightTitle {
    background-color: #B1B2FF;
    color: #EEF1FF;
    text-align: center;
    height: 10%;
}

.gameHistory {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}